<!DOCTYPE html>

<head>
    <!--Meta tags-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="urf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!--Título do website-->
    <title>Meu Currículo</title>

    <!--CSS próprio meu-->
    <link href="../static/style.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body id="menu">
    <div class="container" style="padding-top: 100px;">
        <div class="row">

            <div id="backgroundLeft" class="col-sm-3">
                <center>
                    <img src="../static/images/Imagem do pinguim.png">


                    <img src="../static/images/Imagem da Barrinha.png" style="padding-top: 100px;">
                    <h2 class="Ocupação"><strong> SOBRE </strong></h2>


                    <img src="../static/images/Imagem da Barrinha.png" style="padding-top: 70px">
                    <h2 class="Ocupação"><strong> EDUCAÇÃO </strong></h2>



                    <img src="../static/images/Imagem da Barrinha.png" style="padding-top: 160px">
                    <h2 class="Ocupação"><strong> EXPERIÊNCIA </strong></h2>


                    <img src="../static/images/Imagem da Barrinha.png" style="padding-top: 200px;">
                    <h2 class="Ocupação"><strong> HABILIDADES </strong></h2>
                </center>

            </div>

            <div class="col-sm-9" id="backgroundBody">

                <p class="Nome"><strong> LUCAS HENRIQUE</strong></p>
                <p class="Nome"><strong> SALES DE SOUZA </strong></p>
                <h3 class="Ocupação"><strong> E S T U D A N T E | E S T A G I Á R I O </strong></h3>
                <h5 class="w"> (12) 99158-2626 | lucas-henriquesales@hotmail.com </h6>

                    <br/>

                    <h5 class="w">Estudante de Engenharia da Computação no INTELI, Instituto de Tecnologia e Liderança.
                        Tenho muito interesse nas áreas relacionadas à educação, tanto em pesquisas acadêmicas, quanto
                        em monitorias de matemática e física.</h5>

                    <br/>

                    <h5 class="w"><strong>Ensino Médio com bolsa em colégio de prestígio</strong></h5>
                    <h6 class="w">Colégio Poliedro</h6>
                    <h6 class="w">janeiro de 2019 - dezembro de 2020</h6>

                    <h5 class="w"><strong>Turma ITA - curso para colégios militares de engenharia</strong></h5>
                    <h6 class="w">Cursos Poliedro</h6>
                    <h6 class="w">janeiro de 2021 - janeiro de 2022</h6>

                    <br/>

                    <h5 class="w"><strong>Participação em Olimpíadas Científicas e Acadêmicas</strong></h5>
                    <ul class="w">
                        <li>Medalha de bronze no Torneio Virtual de Química (em grupo)</li>
                        <li>Medalha de cristal na Olimpíada Brasileira em História do Brasil (em grupo)</li>
                        <li>Desafio Nacional Acadêmico (em grupo)</li>
                        <li>Medalhas em olimpíadas de Matemáica, Física, Robótica e Astronomia</li>
                    </ul>

                    <h5 class="w"><strong>Fiscal de Prova Voluntário</strong></h5>
                    <h6 class="w">Curso Alberto Santos Dummont (CASDinho)</h6>
                    <h6 class="w">outubro - 2019</h6>

                    <br/>
                    <br/>

                    <div class="row">
                        <div class="col-sm-2">
                            <img class="habilidades" src="../static/images/Imagem de comunicação em grupo.png">
                            <center>
                                <p class="rodapé">Comunicação em grupo</p>
                            </center>
                        </div>
                        <div class="col-sm-2">
                            <img class="habilidades" src="../static/images/Imagem de Rápida Digitação.png">
                            <center>
                                <p class="rodapé">Rápida digitação</p>
                            </center>
                        </div>
                        <div class="col-sm-2">
                            <img class="habilidades" src="../static/images/Imagem de Pesquisas e computadores.png">
                            <center>
                                <p class="rodapé">Pesquisas e computadores</p>
                            </center>
                        </div>
                        <div class="col-sm-2">
                            <img class="habilidades" src="../static/images/Imagem de Concentração e Paciência.png">
                            <center>
                                <p class="rodapé">Concentração e Paciência</p>
                            </center>
                        </div>

                    </div>
            </div>
        </div>
    </div>


</body>
<p>
    bang
</p>

</html>